.contact-page > .container {
    background-color: transparent;
    padding-top: 200px;    
}

.info-table > h1, 
.location > h1 {
    color: var(--bbq-white);
    font-size: 32px;
    width: 240px;
    margin: var(--space-small) var(--space-medium);
    display: flex;
    justify-content: center;
}

.info-table > p, 
.location > p {
    color: var(--bbq-white);
}

.info-table,
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}