.contact-page > .container {
  background-color: transparent;
  padding-top: 200px;
}

.info-table > hr {
  margin: 30px 0;
}

.info-table > h1,
.location > h1 {
  color: var(--bbq-white);
  font-size: 32px;
  width: 240px;
  margin: var(--space-small) var(--space-medium);
  display: flex;
  justify-content: center;
}

.info-table > p,
.location > p {
  color: var(--bbq-white);
  margin: 0;
}

.info-table,
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contact-page > .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 600px;
    padding-bottom: 200px;
  }
}

@media (min-width: 1200px) {
  .contact-page > .container {
    width: 800px;
  }
}
