.home-page > .container {
  background-color: transparent;
  padding: 0;
}

.description-img {
  width: 350px;
}

.option-left,
.option-right {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-medium) var(--space-big);
  color: white;
}

.option-left > .description > h1,
.option-right > .description > h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}

.option-left > .description > p,
.option-right > .description > p {
  margin: var(--space-medium);
}

.option-left > .description,
.option-right > .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

@media (min-width: 768px) {
  .option-left,
  .option-right {
    flex-direction: row;
  }

  .option-right {
    flex-direction: row-reverse;
  }
}
