html {
  background: url("../../assets/images/background.jpg");
  font-family: "Noto Serif", serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--bbq-red);
  margin: 0 auto;
  padding: var(--space-medium);
  max-width: 960px;
}

ul {
  margin: 0;
}

button {
  background-color: var(--bbq-red);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: var(--space-small) var(--space-medium);
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ba242d;
}

.add-button {
  margin-top: var(--space-small);
}

hr {
  border: 2px dashed white;
  width: 350px;
}
