.category-products > a > .container {
    padding: 0;
    max-width: 320px;
    margin: 20px 20px;
    color: var(--bbq-white);
  }

  a {
    text-decoration: none;
  }
  
  .list-header,
  .list-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .list > .list-header,
  .list > .list-item-description,
  .list > .list-item-servedWith,
  .list-buttons {
    padding: var(--space-small) var(--space-medium);
  }
  
  .list-item-img > img {
    width: 100%;
    box-shadow: 5px 10px 18px var(--bbq-black);
    cursor: pointer;
  }
  .list-item-img > img:hover {
    box-shadow: 10px 10px 18px var(--bbq-black);
  }
  
  @media (min-width: 1200px) {
    .category-products > .container {
      width: 400px;
    }}