.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.book-button{
  margin-top: 30px;
}

.contact-form > .form-inputs > .add-form-label > input {
  width: 300px;
}
