nav {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

nav > .container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

nav > .container > img {
  width: 70px;
  height: 70px;
  padding-left: 10px;
}

.navbar-buttons  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.navbar-buttons > a > button {
  font-family: "Special Elite", cursive;
  font-size: 18px;
  background-color: transparent;
  color: var(--bbq-gray) ;
  cursor: pointer;
  padding: 0;
  transition: 0.4s;
}

.navbar-buttons > a > button:hover {
    border-radius: 0;
    color: var(--bbq-white);
    border-bottom: 1px solid;
}

@media (min-width: 768px) {
  nav > .container > img {
    width: 90px;
    height: 90px;
    padding-left: 20px;
  }

  .navbar-buttons {
    width: 300px;
  }

  .navbar-buttons > a > button {
    font-size: 24px;
  }
}
