.item-category > a > .container {
  background-color: #fafafa;
  padding: 0;
  max-width: 300px;
  margin: 20px 0;
  box-shadow: 5px 10px 18px var(--bbq-black);
  cursor: pointer;
}

.item-category > a {
  color: var(--bbq-black);
  text-decoration: none;
} 

.item-category > a > .container:hover {
  box-shadow: 10px 10px 18px var(--bbq-black);
}

.container > .menu-option-left,
.container > .menu-option-right {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-big);
}

.container > .menu-option-left > .category-description > h1,
.container > .menu-option-right > .category-description > h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}

.menu-option-left > .category-description > p,
.menu-option-right > .category-description > p {
  margin-bottom: 30px;
}

.item-category > a > .container > li > img {
  width: 300px;
}

.container > .menu-option-left > .category-description,
.container > .menu-option-right > .category-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

@media (min-width: 768px) {
  .item-category > a > .container {
    max-width: 650px;
  }

  .container > .menu-option-left,
  .container > .menu-option-right {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .container > .menu-option-right {
    flex-direction: row-reverse;
  }

  .container > .menu-option-left > .category-description > h1,
  .container > .menu-option-right > .category-description > h1,
  .container > .menu-option-left > .category-description > p,
  .container > .menu-option-right > .category-description > p {
    margin: 0;
    padding: 0 20px;
  }

  .container > .menu-option-left > .category-description > p,
  .container > .menu-option-right > .category-description > p {
    font-size: 18px;
  }
}
