.item-menu > .container {
  background-color: #fafafa;
  padding: 0;
  max-width: 350px;
  margin: 20px 0;
  box-shadow: 5px 10px 18px var(--bbq-black);
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-header,
.list-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list > .list-header,
.list > .list-item-description,
.list > .list-item-servedWith,
.list-buttons {
  padding: var(--space-small) var(--space-medium);
}

.list-item-img > img {
  width: 100%;
}

@media (min-width: 1200px) {
  .item-menu > .container {
    width: 400px;
  }
}
