.update-form > .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

.update-form > .message {
    color: green;
    font-weight: bold;
}

.update-form > .form-title >h3 {
    margin-left: 0;
}

